<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Serif&display=swap" rel="stylesheet">
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101199866);</script>
    <script async src="//static.getclicky.com/js"></script>
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2022 {{site.owner}}. Todos os direitos reservado ." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
