<div id="nav">
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/">info</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/translucido/">translúcido</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/da-boba/">da boba</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/outros/">outros</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/novos/">novos</a>
</div>
