<div id="nav">
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/">todos</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/novos/">novos</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/translucido/">translúcido</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/da-boba/">da boba</a> ·
  <a style="font-family:'Cutive Mono'" href="{{site.url}}{{site.baseurl}}/categories/outros/">outros</a>

</div>
