<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
  	{% include logo.html %}
  	{% include nav.html %}
		<div id="content-left">
      <div id="post">
        <h2>{{ page.title }}</h2>
        {{ content }}
        <i>{{ page.date | date: "%Y" }}</i>
        {% if page.categories.size > 0 %}
          <div id="categories">
            <p><b>rótulos:</b>&nbsp;
              {% for category in page.categories %}
                <a href="{{site.url}}{{site.baseurl}}/categories/{{category}}/">#{{category}}</a>&nbsp;
              {% endfor %}
            </p>
          </div>
        {% endif %}
        {% if site.disqus_username and page.comments or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
  		</div>
    </div>
		{% include footer.html %}
	</div>
    </body>
</html>
