<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
  	{% include logo.html %}
  	{% include nav.html %}
		<div id="content-left">
      <div id="post">
        <h4 style="font-family:'IBM Plex Mono'"> {{ page.title }}</h2>
        {{ content }}
        <br>
        <i>{{ page.date | date: "%d/%m/%Y" }}</i>
          <div id="post-social">
             <i class="fab fa-twitter"></i>
             <a href="https://twitter.com/intent/tweet?text=Veja+&quot;{{page.title}}&quot;,+da+@oliviagj:+&url={{site.url}}{{page.url}}">põe no twitter</a>
          </div>
        {% if site.disqus_username and page.comments or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
  		</div>
    </div>
		{% include footer.html %}
	</div>
    </body>
</html>
